@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

$RedHat: 'Red Hat Display', sans-serif;
$Paytone: 'Paytone One', sans-serif;
$BlackHans: 'Black Han Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$RobotoMono: 'Roboto Mono', monospace;


