@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
    }
}

@mixin reset-list {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin responsive-image {
	display: block;
	height: auto;
	width: 100%;
}


@mixin hide {
	color: transparent;
	display: none;
	font: 0/0 serif;
	height: rem(0);
}