// Color Pallete
$color-light: #ffffff;
$color-dark: #000000;

// Pink
$color-primary-100: #dd54a6;
$color-primary-200: #a40765;

// Yellow
$color-secondary-100: #E3BF01;

// Blue
$color-terciary-100: #2075a5;

// Gray
$color-gray-100: #3e4751;
$color-gray-200: #2d343b;
$color-gray-300: #403440;