// Color Pallete
$color-light: #ffffff;
$color-dark: #000000;

// Pink
$color-primary-100: #dd54a6;
$color-primary-200: #a40765;

// Blue
$color-secondary-100: #2075a5;

// Grey
$color-grey-100: #3e4751;
$color-grey-200: #2d343b;
$color-grey-300: #403440;