@import './breakpoints';
@import './variables';
@import './fonts';
@import './mixins';
@import './buttons';


body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $Roboto;
	}

p {
	margin: 0;
}

.container {
	display: block;
	position: relative;
	margin: 0 10px;
	
	@include breakpoint(sm) {
		margin: 0 auto;
		width: 750px;
	}

	@include breakpoint(md) {
		width: 970px;
	}

	@include breakpoint(lg) {
		width: 1170px;
	}
}